html
  head
    meta(charset="utf-8")
    style
      include css/save-date.css
  body
    div(class='text-center default-sd-main-body')
      img(class='default-sd-border' src='http://i.imgur.com/zZXzFSJ.png')
      div(class='default-sd-content')
        img(class='default-sd-heading' src='http://i.imgur.com/m7VhqSr.png')
        h2 #{name1} &amp; #{name2}
        h3 #{date}
        p #{addressL1}
        p #{info1}
